@import "normalize.styl"

gris_oscuro = #333333
gris_claro = #818181
a
	text-decoration none
body
	font-size 16px
	font-family 'Varela', sans-serif
.header
	position relative
	height 3.5em
	.button-menu
		position absolute
		top 50%
		margin-top -10px
		left .5em
	.menu
		display none
	.title
		font-size 1.1em
		text-align center
		line-height 3.5em
		border-bottom 1px solid gris_claro
figure
	margin 0
.container
	padding 1.4rem
	font-size 0
	text-align center
.name
	color gris_oscuro
.author
	color gris_claro
.song
	width 8rem
	font-size 1rem
	display inline-block
	margin-right 1em
	margin-bottom 1em
	text-align left
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.relative
	position relative

